<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Umiem liczyć</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>
<body>
    <main style="max-width: 1100px;
    min-height: 100vh;
	margin: 0 auto;
	box-shadow: 0 0 50px;">
        <section style="padding: 20px">
            <form action = "" method = "post">
                {% csrf_token %}
                <article>
                    <label class="form-label">1. Ile przykładów chcesz poćwiczyć?</label>
                    {{form.amount}}{{input.amount}}
                    <br>
                    <label class="form-label">2. Jaki ma być zakres liczb wchodzących w skład działań?</label>
                    Od: {{form.minValue}}{{input.minValue}} do: {{form.maxValue}}{{input.maxValue}}
                    {% if buttons.1 %}
                        <button type="button" class="btn btn-link" data-bs-toggle="tooltip"
                                title="W przypadku dzielenia dotyczy dzielnika i ilorazu">
                          <i class="bi bi-question-circle"></i>
                        </button>
                    {% endif %}<br>
                    <label class="form-label">3. Co chcesz poćwiczyć?</label>
                    {% for option in form.operations %}
                        {{option}}
                    {% endfor %}
                    {% for option in input.operations %}
                        {{option}}
                    {% endfor %}<br>
                    <span style="color:red">{{error}}</span><br>
                    {% if buttons.1 %}
                        <button type="submit" name="start" class="btn btn-success">Start</button><br><br>
                    {% endif %}
                </article>
                <article>
                    <table>
                        {% for o in output %}
                        <tr>
                        {% if o.check %}
                            <td style="text-align: right; width: 100px">
                                {{o.equation}}</td>
                            <td style="width: 80px">
                                &nbsp;{{o.result}}&nbsp;
                                <span style="color: green"><i class="bi bi-check"></i></span>
                            </td>
                        {% else %}
                            <td style="text-align: right; width: 100px">
                                {{o.equation}}</td>
                            <td style="width: 80px">
                                <input type="number" min="0" max="10000" name="answer"></td>
                        {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                    {{score}}<br>
                    {% if buttons.2 %}
                        {% if buttons.0 %}
                            <button type="submit" name="finish" class="btn btn-success">Sprawdź</button>
                        {% endif %}
                        <button type="submit" name="reset" class="btn btn-outline-danger">Reset</button>
                    {% endif %}
                </article>
            </form>
        </section>
    </main>

       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
               integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
       </script>

</body>
</html>